/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";

header {
    background-color: #ff6900;
}
.logo {
    width: 180px;
    color: white;
}

.cards-image {
    width: 350px;
}

.discount-price {
    color: red;
}
